<h1><%= @service.title %></h1>
<ul>
	<li type = none ><b>Type_of_service:</b> <%= @service.type_of_service %></li>
	<li type = none ><b>Printer_model:</b> <%= @service.printer_model %></li>
	<li type = none ><b>Address:</b> <%= @service.address %></li>
	<li type = none ><b>Phone:</b> <%= @service.phone %></li>
	<li type = none ><b>Website:</b> <a href="<%= @service.website %>" ><%= @service.website %></a></li>
</ul>